[package]
name = "man-completions"
version = "0.2.1"
description = "Generate completions for Zsh and other shells from manpages"
keywords = ["shell"]
repository = "https://github.com/ysthakur/man-completions"
homepage = "https://github.com/ysthakur/man-completions"
license = "MIT"
edition = "2021"

[profile.release]
codegen-units = 1
lto = "thin"
strip = "debuginfo"

[dependencies]
anyhow = "1.0"
bzip2 = "0.4"
clap = { version = "4.3", features = ["derive", "env"] }
env_logger = "0.10"
flate2 = "1.0"
log = "0.4"
regex = "1.9"

[dev-dependencies]
assert_cmd = "2.0"
tempfile = "3"

[[bin]]
name = "man-completions"
path = "src/main.rs"
